@import 'variables';

.btn {
  display: inline-block;
  font-weight: 400;
  color: $btn-primary-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;

    &:hover {
      background-color: darken($btn-primary-bg, 10%);
      border-color: darken($btn-primary-border, 10%);
    }
  }
}
