<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="https://www.thymeleaf.org">

<body>

  <h2>Owner Information</h2>


  <table class="table table-striped" th:object="${owner}">
    <tr>
      <th>Name</th>
      <td th:text="*{firstName + ' ' + lastName}" />
    </tr>
    <tr>
      <th>Address</th>
      <td th:text="*{address}" />
    </tr>
    <tr>
      <th>City</th>
      <td th:text="*{city}" />
    </tr>
    <tr>
      <th>Telephone</th>
      <td th:text="*{telephone}" />
    </tr>
  </table>

  <a th:href="@{/owners/__${owner.id}__/edit}" class="btn btn-primary">Edit Owner</a>
  <a th:href="@{/owners/__${owner.id}__/pets/new}" class="btn btn-primary">Add New Pet</a>

  <br />
  <br />
  <br />
  <h2>Pets and Visits</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Birth Date</th>
        <th style="width: 200px;">Type</th>
        <th>Visits</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="pet : ${petsWithVisitCounts}">
        <td th:text="${pet.name}"></td>
        <td th:text="${#temporals.format(pet.birthDate, 'yyyy/MM/dd')}"></td>
        <td th:text="${pet.typeName}"></td>
        <td>
          <span th:if="${pet.visitCount == 0}" class="badge bg-secondary visit-count-badge">No visits</span>
          <span th:if="${pet.visitCount == 1}" class="badge bg-info visit-count-badge">1 visit</span>
          <span th:if="${pet.visitCount > 1}" class="badge bg-primary visit-count-badge" th:text="${pet.visitCount + ' visits'}"></span>
          <a th:href="@{/owners/__${owner.id}__/pets/__${pet.id}__/visits/new}" class="btn btn-info">Add Visit</a>
        </td>
      </tr>
    </tbody>
  </table>

</body>
</html>