<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="http://www.thymeleaf.org">

<body>

  <h2>Owner Information</h2>


  <table class="table table-striped" th:object="${owner}">
    <tr>
      <th>Name</th>
      <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
      <th>Address</th>
      <td th:text="*{address}"></td>
    </tr>
    <tr>
      <th>City</th>
      <td th:text="*{city}"></td>
    </tr>
    <tr>
      <th>Telephone</th>
      <td th:text="*{telephone}"></td>
    </tr>
  </table>

  <a th:href="@{/owners/{ownerId}/edit(ownerId=${owner.id})}" class="btn btn-default">Edit Owner</a>
  <a th:href="@{/owners/{ownerId}/pets/new(ownerId=${owner.id})}" class="btn btn-default">Add New Pet</a>

  <br />
  <br />
  <br />
  <h2>Pets and Visits</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Type</th>
        <th>Visits</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="pet : ${owner.petDetails}"> <!-- Changed from owner.pets to owner.petDetails -->
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.birthDate}"></td>
        <td th:text="${pet.type.name}"></td>
        <td>
          <span th:text="${pet.formattedVisitCount}" class="badge badge-info"></span> <!-- New badge -->
          <a th:href="@{/owners/__${owner.id}__/pets/__${pet.id}__/visits/new}">Add New Visit</a>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>
