<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2 th:text="#{owners}">Owners</h2>

  <table id="owners" class="table table-striped table-hover">
    <thead>
      <tr>
        <th th:text="#{name}" style="width: 150px;">Name</th>
        <th th:text="#{address}" style="width: 200px;">Address</th>
        <th th:text="#{city}">City</th>
        <th th:text="#{telephone}" style="width: 120px">Telephone</th>
        <th th:text="#{pets}">Pets</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="owner : ${listOwners}">
        <td>
          <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}" /></a>
        </td>
        <td th:text="${owner.address}" />
        <td th:text="${owner.city}" />
        <td th:text="${owner.telephone}" />
        <td><span th:text="${#strings.listJoin(owner.pets, ', ')}" /></td>
      </tr>
    </tbody>
  </table>
  <div th:if="${totalPages > 1}" style="text-align: center; margin-top: 20px;">
    <a th:if="${currentPage > 1}" th:href="@{'/owners?page=' + (__${currentPage - 1}__)}" class="btn btn-default">Previous</a>
    <span th:text="${currentPage} + ' / ' + ${totalPages}" style="margin: 0 10px;"></span>
    <a th:if="${currentPage < totalPages}" th:href="@{'/owners?page=' + (__${currentPage + 1}__)}" class="btn btn-default">Next</a>
  </div>
</body>

</html>
