<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

	<h2>Owners</h2>

	<form th:object="${owner}" th:action="@{/owners}" method="get" class="form-horizontal" id="search-owner-list-form">
		<div class="form-group">
			<div class="control-group" id="lastNameGroupList">
				<label class="col-sm-2 control-label">Search Last Name </label>
				<div class="col-sm-10">
					<input class="form-control" th:field="*{lastName}" size="30" maxlength="80" placeholder="Search by last name" />
					<span class="help-inline" th:errors="*{lastName}">[Error]</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Search</button>
			</div>
		</div>
	</form>

	<table id="owners" class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">Name</th>
				<th style="width: 200px;">Address</th>
				<th style="width: 200px;">City</th>
				<th style="width: 120px">Telephone</th>
				<th>Pets</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${listOwners}">
				<td>
					<a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"></a>
				</td>
				<td th:text="${owner.address}"></td>
				<td th:text="${owner.city}"></td>				
				<td th:text="${owner.telephone}"></td>
				<td>
					<span th:each="pet : ${owner.pets}" th:text="${pet.name} "></span>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table-buttons">
		<tr>
			<td>
				<a th:href="@{/owners/new}" class="btn btn-default">Add Owner</a>
			</td>
			<td>
				<nav th:if="${totalPages > 0}" class="pagination" aria-label="Pagination">
					<ul class="pagination">
						<li th:class="${currentPage == 1} ? 'disabled page-item'" class="page-item">
							<a th:href="@{/owners(page=${currentPage - 1},lastName=${owner.lastName})}"
								class="page-link">Previous</a>
						</li>
						<li th:each="i: ${#numbers.sequence(1, totalPages)}"
							th:class="${i == currentPage} ? 'active page-item'" class="page-item">
							<a th:href="@{/owners(page=${i},lastName=${owner.lastName})}" th:text="${i}"
								class="page-link"></a>
						</li>
						<li th:class="${currentPage == totalPages} ? 'disabled page-item'" class="page-item">
							<a th:href="@{/owners(page=${currentPage + 1},lastName=${owner.lastName})}"
								class="page-link">Next</a>
						</li>
					</ul>
				</nav>
			</td>
		</tr>
	</table>

</body>
</html>