<div th:fragment="input (label, fieldName, type)" class="form-group"
     th:classappend="${#fields.hasErrors(fieldName)} ? 'has-error'">
    <label th:for="${fieldName}" class="col-sm-2 control-label" th:text="${label}"></label>
    <div class="col-sm-10">
        <input th:field="*{__${fieldName}__}" th:type="${type}" class="form-control"
               th:title="${'Enter the ' + label.toLowerCase()}"
               th:attr="data-tooltip=${'This is the ' + label.toLowerCase() + ' field.'}"
               th:aria-label="${label}" />
        <span class="help-block" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></span>
    </div>
</div>