<div th:fragment="select (label, fieldName, options)" class="form-group"
     th:classappend="${#fields.hasErrors(fieldName)} ? 'has-error'">
    <label th:for="${fieldName}" class="col-sm-2 control-label" th:text="${label}"></label>
    <div class="col-sm-10">
        <select th:field="*{__${fieldName}__}" class="form-control"
                th:title="${'Select the ' + label.toLowerCase()}"
                th:attr="data-tooltip=${'Choose the ' + label.toLowerCase() + ' from the list.'}"
                th:aria-label="${label}">
            <option th:each="option : ${options}" th:value="${option.id}" th:text="${option.name}"></option>
        </select>
        <span class="help-block" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></span>
    </div>
</div>