.petclinic {
    background: #800000 url(../images/banner-graphic.png) no-repeat right;
    min-height: 150px;
    margin-bottom: 20px;
}

.menu-list {
    list-style: none;
    float: right;
    margin-right: 20px;
}

.menu-list li {
    float: left;
    padding-right: 10px;
}

.menu-list li a {
    font-size: 1.2em;
    color: #F5F5DC;
    display: block;
    text-decoration: none;
}

.highlight {
    border-color: red;
}

.table-buttons {
    text-align: right;
}

.visit-count-badge {
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
